* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #e6e1e9;
}

#workspaces button {
    padding: 5px;
    color: #938f99;
    margin-right: 5px;
}

#workspaces button.empty {
    opacity: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    border: none;
}

#workspaces button.empty.active {
    opacity: 1;
    margin-right: 5px;
    padding: 5px;
    min-width: 0;
    border: none;
}

#workspaces button.active {
    color: #cac4cf;
}

#workspaces button.focused {
    color: #cac4cf;
    background: #cbc3dc;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #34275e;
    background: #eeb8ca;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #e6e1e9;
    color: #141318;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#custom-gpu,
#memory,
#custom-language,
#custom-storage,
#workspaces,
#tray,
#backlight,
#custom-notification {
    background: #201f24;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#custom-language {
    color: #cac4cf;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 0px;
    min-width: 44px;
}

#workspaces {
    background: #201f24;
    border-radius: 10px;
    margin-left: 6px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#custom-storage,
#custom-gpu {
    border-radius: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #cac4cf;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #cac4cf;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #cac4cf;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cac4cf;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #cac4cf;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#mpris {
    background: #201f24;
    color: #cac4cf;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    min-width: 150px;
}

#custom-notification {
    color: #cac4cf;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

#custom-notification:hover {
    background: #2b292f;
    color: #e6e1e9;
}
