* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

/* Base Bar Styling */
window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

/* Global Module Backgrounds & Monochrome Text */
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#custom-gpu,
#memory,
#custom-language,
#custom-storage,
#workspaces,
#tray,
#backlight,
#custom-notification,
#mpris {
    background: #181825;
    color: #cdd6f4;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

/* Workspaces Module */
#workspaces {
    background: #181825;
    border-radius: 10px;
    margin-left: 6px;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: #a6adc8;
    margin-right: 5px;
}

#workspaces button.empty {
    opacity: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    border: none;
}

#workspaces button.empty.active {
    opacity: 1;
    margin-right: 5px;
    padding: 5px;
    min-width: 0;
    border: none;
}

#workspaces button.active {
    color: #cdd6f4;
}

#workspaces button.focused {
    color: #11111b;
    background: #cdd6f4;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #f38ba8;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #313244;
    color: #cdd6f4;
    border-radius: 10px;
}

/* Individual Module Rounded Corners & Alignment */
#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#custom-language {
    color: #cdd6f4;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 0px;
    min-width: 44px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#custom-storage,
#custom-gpu {
    border-radius: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    color: #cdd6f4;
}

#clock {
    color: #cdd6f4;
    border-radius: 10px;
    margin-left: 5px;
}

#network {
    color: #cdd6f4;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #cdd6f4;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cdd6f4;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #cdd6f4;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#mpris {
    background: #181825;
    color: #cdd6f4;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    min-width: 150px;
}

#custom-notification {
    color: #cdd6f4;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

#custom-notification:hover {
    background: #313244;
    color: #cdd6f4;
}
